@import url("//code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css");

* {
	padding: 0px;
	margin: 0px;
}

div.game-header {
	z-index: 9999;
	min-width: 100vw;
	max-width: 100vw;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 5px;
	padding-right: 5px;
	border-bottom: 1px solid #666;
	box-shadow: 0px 5px 2.5px #888;
}

.btn-close-view {
    display: inline-block;
    font-weight: 400;
    line-height: 1.25;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .5rem 1rem;
    font-size: 1rem;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    border-color: #d9534f;
    color: #d9534f;
}